<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
  <style>
    code {
      background-color: whitesmoke;
    }
  </style>
</head>
<body>
<header>
</header>
<br>
<div id ='sampleposting'>

  <h2 style="text-align: left">Test API responses</h2>

  <div>
    <h4>Get countries</h4>
    <button id='get_countries_button'>Get countries</button>
      3 <input class='quantity_i' type="radio" name='country' value="3">
      5 <input class='quantity_i' type="radio" name='country' checked value="5">
      10 <input class='quantity_i' type="radio"name='country' value="10">
    <ul id='country_list'></ul>
    <div id="paginat_system"></div>
  </div>
  <hr>

  <div>
    <h4>Get satellites</h4>
    <button id='get_satellites_button'>Get satellites</button>
      3 <input class='quantity_n' type="radio" name='satellite' value="3">
      5 <input class='quantity_n' type="radio" name='satellite' checked value="5">
      10 <input class='quantity_n' type="radio"name='satellite' value="10">
    <ul id='satellite_list'></ul>
    <div id="paginat_system2"></div>
  </div>

  <hr>
  <form action="/api/add_country" method="post" class="border">
    <h4>Test post to /api/country</h4>
    <label for="title" >Country</label>
    <input type="text" id="title" name="name" value=""><br>
    <input type="submit" value="Add country">
  </form>

   <ul>
    {{#each countries}}
      <li>{{value.country_name}}, id: {{this.key}}
    {{/each}}
   </ul>

  <hr>
  <h4>Find country by id /api/country</h4>
      <form action="/api/country" method="post" class="border">
        <input type="text" name="country_id"><br>
        <input type="submit" value="Find info">
      </form>

  <hr>
  <form method="post" action="/api/add_satellite"  class="border">
    <h4>Test post to /api/add_satellite</h4>
    <label for="sat_name">Satellite name</label>
    <input type="text" name="sat_name" value=""><br>
    <label for="country">Country</label>
      <select id="country" name="country">
      {{#each countries}}
        <option value="{{value.country_name}}">{{value.country_name}}</option>
      {{/each}}
      </select>
    <input type="submit" value="Submit">
  </form>

<hr style='margin: 50px'>
<script src="/public/main.js"></script>
<script>

  const countries = (() => {

    document.querySelector('#get_countries_button').addEventListener('click', (e) => {
      let page_num = 1;
      let limit = 5;
      let quantity;
      for(let i of document.querySelectorAll('.quantity_i')){
        if(i.checked)  limit = i.value;
      }
        
       get_list_countries(); 

      
          async function get_list_countries(){
              let country_list = document.querySelector('#country_list');
              country_list.innerHTML = '';

              const _res_json = await fetch(`/api/get_countries/${page_num}/${limit}`).then(response => response.json());

              _res_json.rows.map(n => createButton(country_list, n.value.country_name, 'li'));
              quantity = _res_json.total_rows;

              const funcPrev = () => {
                page_num --; 
                get_list_countries();
              } 

              const funcNext = () => {
                page_num ++; 
                get_list_countries();
              }

              get_pagination('#paginat_system', limit, quantity, page_num, funcPrev, funcNext);
            }

    })


    document.querySelector('#get_satellites_button').addEventListener('click', (e) => {
      let page_num = 1;
      let limit = 5;
      let quantity;
      for(let i of document.querySelectorAll('.quantity_n')){
        if(i.checked)  limit = i.value;
      }
        
       get_list_satellites(); 

      
          async function get_list_satellites(){
              let satellite_list = document.querySelector('#satellite_list');
              satellite_list.innerHTML = '';

              const _res_json = await fetch(`/api/get_satellites/${page_num}/${limit}`).then(response => response.json());

              _res_json.rows.map(n => createButton(satellite_list, n.value.satellite_name, 'li'));
              quantity = _res_json.total_rows;

              const funcPrev = () => {
                page_num --; 
                get_list_satellites();
              } 

              const funcNext = () => {
                page_num ++; 
                get_list_satellites();
              }

              get_pagination('#paginat_system2', limit, quantity, page_num, funcPrev, funcNext);
            }

    })


      function get_pagination(paginate_sys_selector, limit, quantity, page_num, funcPrev, funcNext){
          let last_page = Math.ceil(quantity / limit );
          let pag_sys = document.querySelector(paginate_sys_selector)
          pag_sys.innerHTML = '';

          if(quantity > limit && page_num > 1){
            createButton(pag_sys, 'Prev', 'button', funcPrev);
          }

          if(quantity > limit && page_num < last_page){
            createButton(pag_sys, 'Next', 'button', funcNext);
          }
        }

      function createButton(par, inner, tag, func){
          let button = document.createElement(tag);
          par.appendChild(button);
          button.innerHTML = inner;
          button.onclick = func;
        }

           
    })();


</script>
</body>
</html>
